<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>{{ app.title }}</title>
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <h4 class="has-text-weight-bold is-size-4">{{ app.title }}</h4>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Group</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Add new group</a>
                        <a class="navbar-item">Edit current group</a>
                        <a class="navbar-item">Delete current group</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Clear all groups</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Task</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Add new task</a>
                        <a class="navbar-item">Edit current task</a>
                        <a class="navbar-item">Delete current task</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Clear all tasks</a>
                    </div>
                </div>
                <a class="navbar-item" id="help-button">About</a>
            </div>
            <div class="navbar-end">
                <!-- First page -->
                <a class="navbar-item">&#171;</a>
                <!-- Previous page -->
                <a class="navbar-item">&#8249;</a>
                <span class="tag has-text-white has-background-info is-medium m-3">0 of 0</span>
                <!-- Next page -->
                <a class="navbar-item">&#8250;</a>
                <!-- Last page -->
                <a class="navbar-item">&#187;</a>
            </div>
        </div>
    </nav>
    <div class="columns p-5">
        <div class="column p-0 mt-1 mr-3 no-margin-right mb-3 is-5-tablet is-4-desktop is-3-widescreen">
            <nav id="groups-panel" class="panel is-shadowless">
                <p class="panel-heading is-radiusless">
                    Groups
                    <span class="tag is-dark is-pulled-right">{{ groups.length }}</span>
                </p>
                {% for group in groups %}
                <a class="panel-block 
                {% if loop.index == active_group %}
                 has-background-info has-text-white 
                {% endif %}">{{ group.name }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="column p-0 mt-1 mb-3">
            <nav id="tasks-panel" class="panel is-shadowless">
                <p class="panel-heading is-radiusless">
                    Tasks
                    <span class="tag is-dark is-pulled-right">0</span>
                </p>
                {% for task in groups.tasks %}
                    <a class="panel-block has-background-info">
                        <div class="card is-shadowless ">
                            <div class="card-content has-background-info is-radiusless">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 has-text-white">{{ task.title }}</p>
                                        <p class="subtitle is-6 has-text-white">
                                            <time datetime="2016-1-1">{{ task.created }}</time>
                                        </p>
                                    </div>
                                </div>
                                <div class="content has-text-white">{{ task.message }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
    {% include '/templates/about.html' %}
    
    <script src="js/nunjucks.min.js"></script>
    <script type="module" src="js/app.js"></script>
</body>