<div class="modal" id='task-modal'>
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ modal.operation }} task</p>
            <button class="delete" aria-label="close" id='task-modal-delete'></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter task title">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter task description"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Apply</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>