@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    font-family: "Ubuntu", sans-serif;
}

html {
    --back-color: hsl(0, 0%, 96%);
    --border-color: rgb(240, 240, 240);
    --notify-width: 450px;
    --notify-margin: 10px;
    --shadow-color: rgba(32, 64, 80, 0.2);
    
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: transparent;
    width: 100%;
}

nav.panel {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .no-padding-right {
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 1023px) {
    .navbar-end {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.modal-card {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
}

.notification {
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
    max-width: var(--notify-width);
    position: absolute !important;
    right: var(--notify-margin);
    top: var(--notify-margin);
    width: 100% - var(--notify-margin);
    z-index: 100 !important;
}

.panel-block:hover .card-content {
    background-color: var(--back-color);
}
